<div class="text-center gap-4">

    <h1 class="text-center mb-4">Car component Signal</h1>
    <h2 class="m-2">Brand: {{ brand() }}</h2>
    <h2>Student: {{ student }}</h2>
    <h2>Year: {{ year() }}</h2>

    <button class="btn btn-primary m-2" (click)="changeCar()">Change Car</button>
    <button class="btn btn-primary m-2" (click)="resetForm()">Reset Form</button>
    <button class="btn btn-primary m-2" (click)="changeYear()">Change Year</button>
    <button class="btn btn-primary m-2" (click)="changeNameStudent()">Change Name Student</button>
</div>